.hompegage-container {
  background: #fff;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 7rem);
  background-image: url("/public/images/fleur_images\(png\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 999998;
}

.info_home1 {
  position: relative;
  top: 22rem;
}

.h1_home {
  color: var(--tertiary-color);
  font-family: Kalnia;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.para1_home {
  color: var(--tertiary-color);
  width: 25rem;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: block;
  white-space: pre-line;
  margin: 0 auto;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(40) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
    height: 30px;
  }
  100% {
    width: 25rem;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: var(--tertiary-color);
  }
  100% {
    border-color: transparent;
  }
}

.button1_home {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.button1_home a {
  color: var(--tertiary-color);
}

.button1_home button {
  position: relative;
  top: 2rem;
  color: var(--tertiary-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 25px;
  background: var(--primary-color);
  border: none;
  padding: 10px;
  width: 180px;
}

.button1_home button:hover {
  background-color: var(--secondary-color);
}

.fleche_bas img {
  width: 90px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 4rem;
  animation: rebond 1s ease-in-out infinite;
}

@keyframes rebond {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.h2_home {
  color: var(--primary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.images_services {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.images_services span {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.para_bouquets {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}

.images_bouquets {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.images_bouquets span {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}

.para_evenement {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}

.images_evenement {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.images_evenement a {
  border: 2px solid var(--primary-color);
  width: 24.4%;
  height: 100%;
  padding: 5px;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.images_evenement h3 {
  text-align: left;
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 25px;
  padding-bottom: 5px;
}

.images_evenement span {
  text-align: left;
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
  padding-left: 25px;
  padding-bottom: 30px;
}

.images_evenement button {
  align-self: flex-start;
  margin-left: 25px;
  padding-top: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  background: rgba(0, 0, 0, 0);
}

.propos_home1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  top: 3rem;
}

.propos_info1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.propos_info1 h2 {
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: -1rem;
}

.propos_info1 p {
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
  width: 40rem;
  text-align: justify;
}

.propos_info1 button {
  display: flex;
  width: 175px;
  height: 59px;
  align-items: flex-start;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  font-size: 1.1rem;
  border: 1px solid var(--primary-color);
  color: var(--tertiary-color);
  background: var(--primary-color);
}

.propos_home1 a {
  color: var(--tertiary-color);
}

.propos_info2 img {
  height: auto;
  width: 530px;
  height: 530px;
}

.avis_import {
  position: relative;
  top: 4rem;
}

@media screen and (max-width: 375px) {
  .background-image {
    height: 50vh;
  }

  .info_home1 {
    top: 15rem;
  }

  .h1_home {
    font-size: 32px;
  }

  .para1_home {
    font-size: 18px;
    width: 20rem;
    margin: 0 auto;
    animation: typing 4s steps(40) 1s 1 normal both,
      blink 0.75s step-end infinite;
  }

  .button1_home button {
    width: 150px;
    font-size: 16px;
  }

  .fleche_bas img {
    width: 70px;
    top: 3rem;
  }

  .h2_home {
    font-size: 36px;
  }

  .images_services,
  .images_bouquets,
  .images_evenement {
    flex-direction: column;
  }

  .images_services span,
  .images_bouquets span {
    font-size: 24px;
  }

  .para_bouquets,
  .para_evenement {
    font-size: 20px;
  }

  .images_evenement a {
    width: 95vw;
    margin-bottom: 1rem;
  }

  .propos_home1 {
    flex-direction: column;
    gap: 1rem;
  }

  .propos_info1 h2 {
    font-size: 32px;
  }

  .propos_info1 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
  }

  .propos_info1 button {
    width: 100%;
  }

  .propos_info2 img {
    width: 100%;
  }
}
