.contact {
  /* display: grid; */
  place-items: center;
  min-height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url(/public/images/fleur_images\(png\).jpg);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body h1 {
  text-align: center;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: #f5f0dd;
}

.contact input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 15px;
  resize: none;
}
.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact select {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.contact button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  background: #0a0a0a;
}

button:hover {
  background-color: #cb9da1;
}

@media (max-width: 768px) {
  .logo {
    margin-right: 10px;
  }
}
@media (max-width) {
  h1 {
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 30px;
    height: auto;
  }
}
